<div class="container bg-light">
  <header class="d-flex justify-content-end py-3">
    <ul class="nav nav-pills">
      <li class="nav-item me-3"><a routerLink="/users" class="nav-link" routerLinkActive="active">Users</a></li>
      <li class="nav-item me-3"><a routerLink="products" class="nav-link" routerLinkActive="active">Products</a></li>
      <li class="nav-item me-3"><a routerLink="about" class="nav-link" routerLinkActive="active">About</a></li>
    </ul>
  </header>
</div>
<router-outlet></router-outlet>
