<div class="container my-lg-5">
  <div class="btn btn-primary user-button" routerLink="/users/new"><i class="fas fa-plus"></i> New User</div>
  <table class="table" *ngIf="(users$ | async) as courses">
    <thead class="table-dark">
      <tr>
        <th>#</th>
        <th>User Id</th>
        <th>Name</th>
        <th>Email</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses; let i = index">
        <td>{{i+1}}</td>
        <td>{{course.userId}}</td>
        <td>{{course.userName}}</td>
        <td>{{course.email}}</td>
        <td>
          <a class="link-danger btn" (click)="deleteUser(course.userId)"><i class="fa-trash fa"></i></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
