<div class="container my-lg-5">
  <div class="btn btn-primary user-button" routerLink="/products/new"><i class="fas fa-plus"></i> New Product</div>
  <table class="table" *ngIf="(products$ | async) as products">
    <thead class="table-dark">
    <tr>
      <th>#</th>
      <th>Book Id</th>
      <th>Title</th>
      <th>Author</th>
      <th>Genre</th>
      <th>Publisher</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of products; let i = index">
      <td>{{i+1}}</td>
      <td class="td-width">{{product.id}}</td>
      <td class="td-width">{{product.title}}</td>
      <td class="td-width">{{product.author}}</td>
      <td class="td-width">{{product.genre}}</td>
      <td class="td-width">{{product.publisher}}</td>
      <td class="td-width">
        <a class="link-danger btn" (click)="deleteProduct(product.id)"><i class="fa-trash fa"></i></a>
        <a class="btn" [routerLink]="['update', product.id]" ><i class="fa-edit fa"></i></a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
